body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}





/*------------------- MENU CSS -------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    background: #5d4954;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: #fff;
    transition: 1s;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #cecece;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    transition: .3s;
}

.nav-links a:hover {
    color: #fff;
}
/*------------------- MENU CSS -------------------*/





/*------------------- HOME -------------------*/
.div1-content {
    margin: 50px;
    width: 60%;
    background-color: #e8e8e8;
    padding: 100px;
}
/*------------------- HOME -------------------*/





/*------------------- LOGIN */
.login-div-session {
    margin: 50px;
    width: 60%;
}

.form {
    margin: 50px;
    width: 60%;
    background-color: #e8e8e8;
    padding: 100px;
    border: none;
}

input {
    border: none;
    outline: none;
    padding: 10px 20px;
    /* Azul- #4B81E8 */
}

input[type=submit] {
    padding: 8px 20px;
    background-color: #222;
    color: #fff;
}
/*------------------- LOGIN -------------------*/





/*------------------- BOTÃO PARA CIMA -------------------*/
.btn-up {
    position: fixed;
    right: 45px;
    bottom: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(93,73,84,0.9);
    color: #fff;
    padding: 10px 15px;
}
/*------------------- BOTÃO PARA CIMA -------------------*/





