body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}





/*------------------- MENU CSS -------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    background: rgba(0,0,0,.8);
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: #fff;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #cecece;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    transition: .5s;
}

.nav-links a:hover {
    color: #fff;
    font-size: 18px;
}
/*------------------- MENU CSS -------------------*/





/*------------------- DEFAULT HOME -------------------*/
.div-home-default {
    margin-top: 5%;
    margin-left: 15%;
    width: 60%;
}

.div-index-default {
    margin-top: 5%;
    margin-left: 15%;
    width: 60%;
    padding: 50px;
    background-color: #dddddd;
}
/*------------------- DEFAULT HOME -------------------*/





/*------------------- LOGIN -------------------*/
.div-content-home {
    margin-top: 5%;
    margin-left: 15%;
    width: 60%;
}

.form {
    margin-top: 5%;
    margin-left: 15%;
    width: 60%;
    background-color: #d9d9d9;
    padding: 70px;
    border: none;
}

input {
    border: none;
    outline: none;
    padding: 10px 20px;
    /* Azul - #4B81E8 */
}

input[type=submit] {
    padding: 8px 20px;
    background-color: #222;
    color: #fff;
    transition: 1s;
}
/*------------------- LOGIN -------------------*/





/*------------------- BOTÃO PARA CIMA -------------------*/
.btn-up {
    position: fixed;
    right: 45px;
    bottom: 120px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 10px 15px;
    z-index: 2;
}
/*------------------- BOTÃO PARA CIMA -------------------*/





/*------------------- FOOTER -------------------*/
.footer {
    left: 0;
    display: flex;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
}

.social p i {
    font-size: 30px;
    transition: 0.5s;
    padding: 20px 0px 20px 100px;
}

.p-facebook:hover {
    color: #0253f4;
    cursor: pointer;
}

.p-instagram:hover {
    color: #b51fb7;
    cursor: pointer;
}

.p-twitter:hover {
    color: #0694d6;
    cursor: pointer;
}

.social {
    display: flex;
}

.info p {
    font-size: 20px;
    text-align: center;
    padding: 20px 0px 0px 100px;
}

.info {

}
/*------------------- FOOTER -------------------*/


::selection {
  background: #4B81E8;
  color: #fff;
}
