<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title>Esmax</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>

    <nav>
        <div class="logo">
            <h4>Logo</h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="jogos">Jogos</a>
            </li>
            <li>
                <a href="login">Login</a>
            </li>
        </ul>
    </nav>

    <a href="#">
        <button class="btn-up"><i class="fas fa-chevron-up"></i></button>
    </a>

    {% block conteudo %}
    {% endblock %}

    <p style="padding: 200px;"></p>

    <div class="footer">
        <div class="social">
            <p class="p-facebook"><i class="fab fa-facebook"></i></p>
            <p class="p-instagram"><i class="fab fa-instagram"></i></p>
            <p class="p-twitter"><i class="fab fa-twitter"></i></p>
        </div>
        <div class="info">
            <p>Mail: tiozezeco123@gmail.com</p>
            <p>Phone: 91776969</p>
        </div>
    </div>

</body>
</html>
